<div class="splash-container">
  <p class="logo">Hisaab <br />Kitaab</p>
  <div class="action-container">
    <%= link_to "Log In", categories_path, class: 'splash-btn' %>
    <%= link_to "Sign Up", categories_path, class: 'splash-btn' %>
  </div>
</div>