<section class="section">
  <h2 class="section-heading">All Categories</h2>
  <p class="info-msg" ><span>No Category Found <i class="fa-solid fa-face-frown"></i></span></p>
  <!-- <ul class="category-container">
    <li class="container-list">
      <figure class="img-container">
        <img src="https://img.icons8.com/ios-filled/512/maintenance.png" alt="Repair Icon" class="img category-img" />
      </figure>
      <p class="category-name">Repair</p>
      <p class="category-amount">$17.00</p>
    </li>
  </ul> -->
</section>
<footer class="footer">
  <a class="btn category-btn" href="#">New Category</a>
</footer>