<section class="section show-category">
  <div class="container-list">
    <%= render 'shared/category-partial', category: @category %>
  </div>
  <ul class="transaction-container">
    <li class="transaction-list">
      <div class="date_and_time-container">
        <p class="date month">Jul</p>
        <p class="date day">31</p>
        <p class="date year">1995</p>
      </div>
      <div class="transaction-info">
        <p class="transaction-name">Rich Dad Poor Dad</p>
        <p class="transaction-time"><i class="fa-regular fa-clock"></i> 02:05:45 PM</p>
      </div>
      <p class="transaction-amt">$8</p>
    </li>
  </ul>
  <div class="total-amount--wrapper">
    <p class="text">Total Amount</p>
    <p class="amount">$120.0</p>
  </div>
</section>
<footer class="footer">
  <%= link_to "Add Expense", new_category_expense_path(@category.id), class: 'btn category-btn' %>
</footer>